* {
    margin: 0 auto;
    list-style: none;
}

header {
    width: 100%;
    height: 745px;
    background-image: url("/images/food01.jpg");
}

.img_bg {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.black_border {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}

header div.black_border {
    text-align: center;
}

header div.black_border #name{
    font-size: 100px;
    padding-top: 20%;
}

header div#arrow {
    font-size: 30px;
    padding: 0px;
    margin-top: 3%;
    color: rgba(0, 0, 0, 0);
}

header div#arrow .downArrow:nth-child(1) {
    animation: arrow_top 3s linear infinite;
}
header div#arrow .downArrow:nth-child(3) {
    animation: arrow_middle 3s linear infinite;
}
header div#arrow .downArrow:nth-child(5) {
    animation: arrow_bottom 3s linear infinite;
}

@keyframes arrow_top {
    0%{
        color: white;
    }

    40%{
        color: rgba(0, 0, 0, 0);
    }
}

@keyframes arrow_middle {
    30%{
        color: white;
    }

    70% {
        color: rgba(0, 0, 0, 0);
    }
}

@keyframes arrow_bottom {
    60%{
        color: white;
    }

    100% {
        color: rgba(0, 0, 0, 0);
    }
}

div#section_box {
    width: 100%;
}

div#section_box section {
    width: 100%;
    height: 745px;
    text-align: center;
}

.title {
    padding: 30px 0;
    font-size: 50px;
}

div#section_box section#section01 .title,
div#section_box section#section03 .title {
    margin-bottom: 5%;
}

div#section_box section#section01 {
    background-color: white;
}

div#section_box section#section01 img{
    width: 400px;
    height: 400px;
}

div#section_box section#section01 p {
    margin-left: 5%;
    font-size: 17px;
}

div#section_box section#section01 img,
div#section_box section#section01 div {
    float: left;
}

div#section_box section#section01 div p.history {
    font-size: 20px;
    font-weight: 700;
}

div#section_box section#section02 {
    background-image: url("/images/food01.jpg");
}

div#section_box section#section02 div {
    text-align: center;
}
div#section_box section#section02 div ul{
    display: none;
}

div#section_box section#section02 div ul#menu_imgs{
    display: block;
}

div#section_box section#section02 div ul#menu_imgs li img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    overflow: hidden;
    cursor: pointer;
}

div#section_box section#section02 div ul li {
    display: inline-block;
    padding: 20px;
}

div#section_box section#section02 div ul li img {
    width: 300px;
    height: 300px;
}

.action {
    display: block !important;
}

div#section_box section#section03 img#map {
    width: 400px;
    height: 400px;
    float: left;
}

div#section_box section#section03 div {
    margin-left: 5%;
    float: left;
    font-size: 20px;
}

div#section_box section#section03 div p.subtitle {
    font-size: 30px;
    padding: 5% 0;
    color: #6b4b31;
}

div#section_box section#section03 div p#address{
    font-size: 30px;
    padding-top: 15%;
    color: #6b4b31;
}

footer {
    width: 100%;
    height: 200px;
    background-color: rgb(136, 136, 136);
    color: white;
    font-size: 20px;
    text-align: center;
}

footer p{
    padding: 60px 0;
}

#topArrow {
    width: 30px;
    height: 30px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: black;
    cursor: pointer;
    font-size: 30px;
}

/* 반응형 */
@media screen and (max-width: 1435px) {
    div#section_box section#section02 div ul li {
        display: inline-block;
        padding: 30px;
    }
    
    div#section_box section#section02 div ul li img {
        width: 200px;
        height: 200px;
    }

    div#section_box section#section02 div ul#menu_imgs li img {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 1120px) {
    div#section_box section {
        height: auto;
    }

    div#section_box section#section01 img,
    div#section_box section#section01 div,
    div#section_box section#section03 img#map,
    div#section_box section#section03 div {
        float: none;
        margin-left: 0;
        margin-bottom: 50px;
    }

    div#section_box section#section02 {
        background-color: #6b4b31;
        background-image: none;
    }

    div#section_box section#section02 div ul {
        padding: 0;
    }

    div#section_box section#section02 div ul#menu_imgs li{
        padding: 13px;
    }

    div#section_box section#section02 div ul.action li {
        display: block;
    }

    div#section_box section#section02 div ul.action li img {
        width: 400px;
        height: 400px;
    }

    div#section_box section#section02 div ul.action li span {
        font-size: 30px;
    }
}